{% extends "frame.html" %}
{% from "macros.html" import terminal %}

{% block head %}<link rel="stylesheet" href="{{ asset('vendor/xterm-6.0.0/xterm.css') }}">{% endblock %}

{% block refresh %}{% endblock %}

{% block content %}
{% call terminal('/host/console/ws') %}<span class="mono">{{ host_name }}</span> - <span class="mono">$KELSO_ROOT</span> is <span class="mono">{{ kelso_root }}</span>{% endcall %}
{% endblock %}

{% block scripts %}
<script src="{{ asset('vendor/xterm-6.0.0/xterm.js') }}"></script>
<script src="{{ asset('vendor/xterm-addon-fit-0.11.0/addon-fit.js') }}"></script>
<script src="{{ asset('js/console.js') }}"></script>
{% endblock %}
